body {
  font-family: Arial, sans-serif;
  margin: 100px auto;
  padding: 100px 300px;
  max-width: 100vw;
  background-color: #222831 !important;
}

h1 {
  text-align: center;
  color: #444;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #222121;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.card {
  padding: 50px;
}
