<div>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">Tilinify</a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin" href="/category">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="isAdmin" href="/product">Productos-Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Servicios</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/catalog">Productos</a></li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" href="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()">Cerrar sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link"><i class="bi bi-cart" (click)="goCart()"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div
        class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
      >
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">
            Tu lugar favorito para comprar videojuegos!
          </h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 mb-5">
            Descubre un catálogo único de videojuegos, desde clásicos hasta los
            títulos más recientes. ¡Compra de manera rápida y segura!
          </p>
          <a class="btn btn-light btn-xl" href="/catalog">Ver catálogo</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Services-->
  <section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">A Tu Servicio</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-gem fs-1 text-secondary"></i></div>
            <h3 class="h4 mb-2">Catálogo Extenso</h3>
            <p class="text-muted mb-0">
              Juegos para todas las plataformas, desde clásicos hasta novedades.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2">
              <i class="bi-laptop fs-1 text-secondary"></i>
            </div>
            <h3 class="h4 mb-2">Actualización Constante</h3>
            <p class="text-muted mb-0">
              Los últimos lanzamientos, siempre disponibles.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-globe fs-1 text-secondary"></i></div>
            <h3 class="h4 mb-2">Listo para Descargar</h3>
            <p class="text-muted mb-0">Compra y juega al instante.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-heart fs-1 text-secondary"></i></div>
            <h3 class="h4 mb-2">Pasión por el Gaming</h3>
            <p class="text-muted mb-0">
              Compartimos tu amor por los videojuegos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</div>
