<div class="body">
  <div class="container">
    <button class="btn btn-outline-light my-4" (click)="goBack()">
      <i class="ph ph-arrow-circle-left icon-text-button"></i> Regresar
    </button>
    <div class="row gutters">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="invoice-container">
              <div class="invoice-header">
                <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"></div>
                </div>

                <div class="row gutters">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <a href="/" class="invoice-logo"> Tilinify </a>
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end"
                  >
                    <address class="text-end">
                      {{ invoice.rfc }}<br />
                      Fecha de creación:
                      {{ invoice.created_at | date : "mediumDate" }}<br />
                      ID Factura: {{ invoice.invoice_id }}
                    </address>
                  </div>
                </div>

                <div class="row gutters">
                  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="invoice-details">
                      <address>
                        Nombre del cliente: Desarrollo Web Front-End<br />
                        Dirección del cliente: Circuito interior s/n, Colonia
                        Universidad Nacional Autónoma de México, Coyoacán, C.P.
                        0451 Ciudad Universitaria, Ciudad de México, México
                      </address>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="invoice-details">
                      <div class="invoice-num">
                        <div>Factura - #{{ invoice.invoice_id }}</div>
                        <div>Moneda - Peso mexicano <br> (MXN)</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="invoice-body">
                <div class="row gutters">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                      <table class="custom-table m-0">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Producto (GTIN)</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of invoice.items">
                            <td>{{ item.item_id }}</td>
                            <td>{{ item.gtin }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.unit_price }}</td>
                            <td>${{ item.subtotal | number : "1.2-2" }}</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td colspan="2">
                              <p>
                                Subtotal<br />
                                Impuestos<br />
                              </p>
                              <h5 class="text-success">
                                <strong>Total</strong>
                              </h5>
                            </td>
                            <td>
                              <p>
                                ${{ invoice.subtotal | number : "1.2-2" }}<br />
                                ${{ invoice.taxes | number : "1.2-2" }}<br />
                              </p>
                              <h5 class="text-success">
                                <strong
                                  >${{
                                    invoice.total | number : "1.2-2"
                                  }}</strong
                                >
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
