<table class="table">
  <thead>
    <tr>
      <th>Category ID</th>
      <th>Category</th>
      <th>Tag</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.category_id }}</td>
      <td>{{ category.category }}</td>
      <td>{{ category.tag }}</td>
      <td><div 
        [ngClass]="{
          'status-circle': true, 
          'status-active': category.status === 1, 
          'status-inactive': category.status !== 1
        }"
        title="{{ category.status === 1 ? 'Activo' : 'Inactivo' }}">
      </div>
    </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Acciones
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" >Update</a></li>
            <li><a class="dropdown-item" >Borrar</a></li>
            <li><a class="dropdown-item" >Activar/desactivar</a></li>
          </ul>
        </div>
      </td>
      
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Nueva categoría
</button>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Nueva categoría
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmitUpdate()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <input
              type="text"
              class="form-control"
              id="category"
              formControlName="category"
              [ngClass]="{
                'is-invalid':
                  categoryForm.get('category')?.invalid &&
                  categoryForm.get('category')?.touched
              }"
            />
            <div
              *ngIf="
                categoryForm.get('category')?.invalid &&
                categoryForm.get('category')?.touched
              "
              class="invalid-feedback"
            >
              El campo categoría es obligatorio.
            </div>
          </div>
          <div class="mb-3">
            <label for="tag" class="form-label">Tag</label>
            <input
              type="text"
              class="form-control"
              id="tag"
              formControlName="tag"
              [ngClass]="{
                'is-invalid':
                  categoryForm.get('tag')?.invalid &&
                  categoryForm.get('tag')?.touched
              }"
            />
            <div
              *ngIf="
                categoryForm.get('tag')?.invalid &&
                categoryForm.get('tag')?.touched
              "
              class="invalid-feedback"
            >
              El campo tag es obligatorio.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
        
      </form>
      
    </div>
    
  </div>
  
</div>


