<div class="product-container body">
  <!-- Navbar de Productos -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">Tilinify</a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin" href="/category">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="isAdmin" href="/product">Productos-Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Servicios</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/catalog">Productos</a></li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" href="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()">Cerrar sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link"><i class="bi bi-cart" (click)="goCart()"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Tabla de Productos -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>GTIN</th>
        <th>Precio</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.product_id }}</td>
        <td>{{ product.product }}</td>
        <td>{{ product.gtin }}</td>
        <td>{{ product.price }}</td>
        <td>
          <div
            [ngClass]="{
              'status-circle': true,
              'status-active': product.status === 1,
              'status-inactive': product.status !== 1
            }"
            title="{{ product.status === 1 ? 'Activo' : 'Inactivo' }}"
          ></div>
        </td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Acciones
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a
                  class="dropdown-item"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  (click)="updateProduct(product)"
                  >Actualizar</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="
                    product.status === 1
                      ? disableProduct(product.product_id)
                      : enableProduct(product.product_id)
                  "
                >
                  {{ product.status === 1 ? "Desactivar" : "Activar" }}
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="redirect(product.gtin)">
                  Ver detalles
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botones para agregar o filtrar productos -->
  <div class="d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-outline-light"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="createProduct()"
    >
      Nuevo Producto
    </button>

    <button
      type="button"
      class="btn btn-outline-light"
      (click)="toggleProductFilter()"
      style="margin-left: 30px"
    >
      {{ showAllProducts ? "Filtrar Activos" : "Mostrar Todos" }}
    </button>
  </div>

  <!-- Modal para agregar nuevo producto -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog p-4">
      <div class="modal-content modal-form">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            {{ product_id === 0 ? "Agregar producto" : "Actualizar producto" }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="d-flex flex-column p-4"
        >
          <div class="row fluid">
            <!-- gtin  -->
            <div class="mb-3">
              <label for="gtin">GTIN <span class="color-red">*</span> </label>
              <input
                type="text"
                class="form-control"
                formControlName="gtin"
                id="gtin"
                placeholder="Código GTIN del producto..."
                [ngClass]="{
                  'is-invalid': form.controls['gtin'].errors && submitted
                }"
              />
              @if (form.controls['gtin'].errors && submitted) {
              <small class="color-red"
                >Favor de ingresar un código gtin válido</small
              >
              }
            </div>
          </div>

          <div class="row fluid">
            <!-- product  -->
            <div class="mb-3">
              <label for="product"
                >Producto <span class="color-red">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="product"
                id="product"
                placeholder="Nombre del producto..."
                [ngClass]="{
                  'is-invalid': form.controls['product'].errors && submitted
                }"
              />
              @if (form.controls['product'].errors && submitted) {
              <small class="color-red"
                >Favor de ingresar un nombre de producto válido</small
              >
              }
            </div>
          </div>

          <div class="row fluid">
            <!-- price  -->
            <div class="mb-3">
              <label for="price"
                >Precio <span class="color-red">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="price"
                id="price"
                placeholder="Precio del producto..."
                [ngClass]="{
                  'is-invalid': form.controls['price'].errors && submitted
                }"
              />
              @if (form.controls['price'].errors && submitted) {
              <small class="color-red"
                >Favor de ingresar un precio válido</small
              >
              }
            </div>
          </div>

          <div class="row fluid">
            <!-- stock  -->

            <div class="mb-3">
              <label for="stock"
                >Cantidad de productos <span class="color-red">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="stock"
                id="stock"
                placeholder="Número de stock del producto..."
                [ngClass]="{
                  'is-invalid': form.controls['stock'].errors && submitted
                }"
              />
              @if (form.controls['stock'].errors && submitted) {
              <small class="color-red"
                >Favor de ingresar un número de stock válido</small
              >
              }
            </div>
          </div>

          <div class="row fluid">
            <!-- category_id  -->

            <div class="mb-3">
              <label for="category_id"
                >Categoría <span class="color-red">*</span>
              </label>
              <select
                class="form-select"
                formControlName="category_id"
                id="category_id"
                [ngClass]="{
                  'is-invalid': form.controls['category_id'].errors && submitted
                }"
              >
                <option [ngValue]="null" hidden>
                  Selecciona una categoría...
                </option>
                @for(category of categories; track category) {
                <option [ngValue]="category.category_id">
                  {{ category.category }}
                </option>
                }
              </select>
              @if (form.controls['category_id'].errors && submitted) {
              <small class="color-red">Favor de seleccionar válida</small>
              }
            </div>
          </div>

          <div class="row fluid">
            <!-- description  -->
            <div class="mb-3">
              <label for="description"
                >Descripción <span class="color-red">*</span>
              </label>
              <textarea
                rows="2"
                class="form-control"
                formControlName="description"
                id="description"
                placeholder="Descripción del producto..."
                [ngClass]="{
                  'is-invalid': form.controls['description'].errors && submitted
                }"
              >
              </textarea>
              @if (form.controls['description'].errors && submitted) {
              <small class="color-red"
                >Favor de ingresar una descripción válida</small
              >
              }
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
