<div class="body">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">Tilinify</a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin" href="/category">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isAdmin" href="/product"
              >Productos-Admin</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isAdmin" href="/invoice">Facturas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catalog">Productos</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" href="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()">Cerrar sesión</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link"
              ><i class="bi bi-cart" (click)="goCart()"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="pt-6">
    <div class="container px-4 px-lg-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Juega con estilo</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          Explora nuestra selección de videojuegos para todos los gustos y
          plataformas.
        </p>
      </div>
    </div>
  </header>

  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="dropdown my-4 text-center d-flex justify-content-center align-items-center"
    >
      <button
        class="btn dropdown-toggle filter-button"
        type="button"
        id="filterDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filtrar por categorías
      </button>
      <ul class="dropdown-menu" aria-labelledby="filterDropdown">
        <li *ngFor="let category of categories; let i = index">
          <a class="dropdown-item" (click)="getProductsByCategory(category)">{{
            category.category
          }}</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="getActiveProducts()">Todas</a>
        </li>
      </ul>

      <h5>
        <span class="badge bg-secondary ms-3">{{ selectedCategory }} </span>
      </h5>
    </div>
  </div>

  <section class="py-4">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row justify-content-center">
        <div *ngIf="products.length === 0" class="no-products">
          <div class="alert-message text-center">
            <h4>No hay productos en esta categoría</h4>
          </div>
        </div>

        <div
          *ngFor="let product of products; let i = index"
          class="col-lg-4 mb-5"
        >
          <div class="card h-100">
            <img
              class="card-img-top"
              [src]="
                productImages[i] !== ''
                  ? productImages[i]
                  : './assets/no-product-image.png'
              "
              alt="Imagen del producto"
              (click)="redirect('/item/' + product.gtin)"
            />

            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder">{{ product.product }}</h5>
                <p>${{ product.price }}</p>
              </div>
            </div>

            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a
                  class="btn btn-outline-secondary mt-auto mb-2 btn-size"
                  (click)="redirect('/item/' + product.gtin)"
                  >Ver detalles</a
                >
                <a
                  class="btn btn-dark mt-auto btn-size"
                  (click)="addToCart(product.gtin)"
                  >Agregar al carrito</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</div>
