<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/sketchy/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles.css" />
    <title>Categorías</title>
  </head>
  <body>
    
    <div class="card container">
      <h1>Lista de Categorías</h1>
      <table class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="row">Category ID</th>
            <td>Category</td>
            <td>Tag</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <td>1</td>
            <td>Tecnología</td>
            <td>tech</td>
            <td>Activo</td>
          </tr>
          <tr class="table-light">
            <td>2</td>
            <td>Deportes</td>
            <td>sports</td>
            <td>Activo</td>
          </tr>
          <tr class="table-light">
            <td>3</td>
            <td>Educación</td>
            <td>edu</td>
            <td>Inactivo</td>
          </tr>
          <tr class="table-light">
            <td>4</td>
            <td>Artes</td>
            <td>art</td>
            <td>Inactivo</td>
          </tr>
          <tr class="table-light">
            <td>5</td>
            <td>Videojuegos</td>
            <td>LoL</td>
            <td>Activo</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
